* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  transition: all 0.5s ease-in-out;
}
main {
  background-color: #1a0b2e;
}
.section {
  padding: 70px 0px;
  position: relative;
}
.section.cc-zero {
  padding: 0px 0px;
}
.container {
  padding: 0px 30px;
  margin: 0px auto;
  max-width: 1360px;
}
.width-full {
  width: 100%;
}
.width-1-2 {
  width: 48%;
}
.width-1-3 {
  width: 31%;
}
.width-1-4 {
  width: 23%;
}
.width-2-3 {
  width: 65%;
}
.width-3-4 {
  width: 73%;
}
