* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
}
main {
  background-color: #1a0b2e;
}
.bg-primary {
  background-color: #1a0b2e;
}
.bg-secondary {
  background-color: #230e3d;
}
.section {
  padding: 70px 0px;
  position: relative;
}
.section.cc-zero {
  padding: 0px 0px;
}
.container {
  padding: 0px 30px;
  margin: 0px auto;
  max-width: 1360px;
}
.width-full {
  width: 100%;
}
.width-1-2 {
  width: 48%;
}
.width-1-3 {
  width: 31%;
}
.width-1-4 {
  width: 23%;
}
.width-2-3 {
  width: 65%;
}
.width-3-4 {
  width: 73%;
}
.button {
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(45deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
.button:hover {
  background: linear-gradient(45deg, #9100f8 0%, #fb09b4 51%, #f7e93f 100%);
}
.button.cc-transparent {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}
.button.cc-transparent:hover {
  color: #fff;
  border: 1px solid #ffffff;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  align-items: stretch;
}
.flex-left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flex-right-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.flex-vr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.card {
  background-color: #351165;
  padding: 40px;
  border-radius: 40px;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.text-green {
  color: #00ff88;
}
.paragraph {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
}
.section-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.625;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
/* custome style  */

/* navbar css start  */
.navbar {
  width: 100%;
  padding: 15px 0px;
}
.nav-container {
  max-width: 1320px;
  margin: 0 auto;
}
.nav-brand {
  width: 33.3%;
}
.nav-brand a {
  color: #fff;
  font-size: 32px;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.3s;
}
.nav-brand a span {
  background: linear-gradient(360deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-brand a:hover {
  background: linear-gradient(360deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-brand a:hover span {
  color: #fff;
  background: transparent;
}
.nav-menu {
  width: 33.3%;
}
.nav-menu ul {
  list-style: none;
}
.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}
.nav-menu ul li a:hover {
  color: #f7e93f;
}
.nav-button {
  width: 33.3%;
}
/* navbar css end  */
/* hero css start  */
.section.cc-hero {
  background-image: url(/assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 74px);
}
.container.cc-hero {
  max-width: 550px;
  text-align: center;
  margin: 0px auto;
}
.hero-circle {
  width: 350px;
  height: 350px;
  background-image: url(/assets/hero-circle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.hero-text {
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}
/* hero css end  */
/* about css start  */
.counter {
  font-size: 48px;
}
.counter-title {
  text-transform: uppercase;
}
.card img {
  padding-bottom: 10px;
}
.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* about css end  */
/* footer css start  */
footer {
  background-image: url(/assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}
/* footer css end */
